.App {
  text-align: center;
}
.pets-page {
  margin: 20px;
}
.pets-table {
  margin: 20px auto;
  width: 70%;
  max-width: 500px;
  text-align: center;
}

.details-page {
  margin: 20px;
  text-align: left;
}

.card {
  text-align: center;
}
